
h1, h2 {
  color: rgb(190, 236, 238);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
a {
  color: rgb(190, 236, 238);
}
a:hover {
  color: rgb(250, 194, 241);
}
body {
  background-image: url(courtyard.jpg), url(words.jpg);
  background-attachment: fixed;
  opacity: 0.5, 01;
}


